<section class="wrapper">
  <div class="formulario">
    <div class="titulo">
      <p class="input-element">Título del libro</p>
      <input
        type="text"
        maxlength="50"
        placeholder="Introduce el título"
        [(ngModel)]="newBook.title"
        required
      />
    </div>
    <div class="fecha">
      <p class="input-element">Fecha de lectura</p>
      <input type="date" name="" id="" [(ngModel)]="newBook.date" required />
    </div>
    <div class="portada">
      <p class="input-element">Portada del libro</p>
      <input
        type="text"
        placeholder="URL de la imagen de la portada"
        [(ngModel)]="newBook.urlPhoto"
        required
        (blur)="onUrlBlur()"
        [ngClass]="{ error: urlInvalid }"
      />
      <p *ngIf="urlInvalid" class="error-message">
        Asegúrate de ingresar una URL válida
      </p>
    </div>
    <div>
      <p class="input-element">Escribe una reseña</p>
      <textarea
        [(ngModel)]="model.resena"
        (input)="onInput()"
        maxlength="500"
        class="inputResena"
        required
      ></textarea>
      <p class="contador">Quedan {{ caracteresRestantes }} caracteres</p>
    </div>

    <button
      (click)="getBook()"
      class="btn"
      [disabled]="!isFormValid() || !isUrlValid(newBook.urlPhoto)"
    >
      PUBLICAR
    </button>
  </div>
</section>
