<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="cabecera-wrapper">
      <div class="content-cabecera">
        <div class="logo-naming">
          <img src="logo_mini.png" alt="" class="logo" />
          <img src="mini_naming.png" alt="" class="naming" />
        </div>
        <p class="slogan">Reseñas breves, grandes historias</p>
      </div>
    </header>
    <main>
      <section>
        <app-formulario></app-formulario>
      </section>
      <section>
        <app-posts [booklist]="arrBooks"></app-posts>
      </section>
    </main>
  </body>
</html>
