<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="cabecera-wrapper">
      <div class="content-cabecera">
        <img src="logo_mini.png" alt="" class="logo" />
      </div>
    </header>

    <main class="wrapper">
      <div class="formulario">
        <section>
          <app-formulario (sendBook)="getDataForm($event)"></app-formulario>
        </section>
      </div>
      <div class="posts">
        <section>
          <h2 class="ultimas-lecturas">Tus últimas lecturas:</h2>
          <app-posts [booklist]="arrBooks"></app-posts>
        </section>
      </div>
    </main>
  </body>
</html>
