.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  background-color: #ffeaa7;
  color: #2c3e50;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  width: 90%;
  align-items: center;
  gap: 10px;
  box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.1);
}

.contenedor-img {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.contenedor-img img {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}

.contenedor-textos {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titulo-fecha {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  padding: 0 30px;
}

.titulo {
  font-size: 1.4em;
  font-weight: 900;
}

.fecha {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #2c3e50;
  color: white;
  border-radius: 5px;
}

.area-texto {
  color: black;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 30px 30px 30px;
}
